}window {
    margin: 0px;
    border: 5px solid #1e1e2e;
    background-color: transparent;
    border-radius: 6px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: #cdd6f4;
    font-weight: bold;
    background-color: #1e1e2e;
   	outline: none;
    border-radius: 15px;
    border-color: red;
    margin: 10px;
    margin-bottom: 2px;
    outline: none;
}
#input:focus {
  margin-bottom: 0px;
  border: none;
  outline: none;
}

textarea:focus, input:focus{
    outline: none;
}

#inner-box {
    margin: 4px 10px; 
    color: #cdd6f4;
    font-weight: bold;
    background-color: #1e1e2e;
    border-radius: 15px;
}

#outer-box {
    padding: 3px;
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: #1e1e2e;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
    /* background: rgb(255,255,255); */
}

#img:selected {
    background-color: #89b4fa;
    border-radius: 15px;
}

#text:selected {
    color: #cdd6f4;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: #89b4fa;
}

#entry {
    outline: none;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: #89b4fa;
}
